<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: pink;
        align-items: center;
      "
    >
      <div>
        <span style="color: blue">Nabil Ahmad</span>
      </div>
      <div>
        <ul style="display: flex; gap: 3rem; list-style-type: none">
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
